html,body{
    background-color: pink;
}
.container{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    margin-bottom: 0%;
    
}
#block { 
    background-color: #FFFCE6;
    width: 500px;
    height: 600px;
}
#blocktittle{
    background-color: rgb(155, 14, 131);
    width: 500px;
    height: 50px;
}
#blockchat{
    background-color: rgb(155, 14, 131);
    width: 500px;
    height: 50px;
}
#lucyClose{
    position: fixed;
    margin-top: 5%;
    margin-left: 65%;
    width: 500px;
    height: auto;   
}
#lucyProfile{
    position: fixed;
    height: 100px;
    width: 100px;
}