html,body{
    background-color: pink;
}
#lucyClose{
    position: fixed;
    top:50%;
    left: 75%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: auto;   
}
#block {
    background-color: #FFFCE6;
    position: absolute;
    top:50%;
    left: 40%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 600px;
}
#blocktittle{
    background-color: rgb(255, 0, 212);
    color: rgb(255, 0, 212);
    position: absolute;
    top:50%;
    left: 23.2%;
    transform: translate(0%,-1630%);
    width: 502px;
    



}

