html,body{
    background-color: pink; /*Muda a cor do fundo do site*/
}

.container{ /*Muda o quadrado todo principal do chat*/

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1%;
    margin-bottom: 0%;
    
}

.lucyProfile{  /*Muda a foto de perfil + nome do Chat*/
    display: flex;
    flex-direction:row-reverse;
    justify-content: flex-start;
    align-items: center;
}

#block { /*A parte branca do Chat*/
    background-color: #FFFCE6;
    width: 500px;
    height: 600px;
}
#blocktittle{ /*A parte de cima do bloco do chat*/
    background-color: rgb(155, 14, 131);
    width: 500px;
    height: 50px;
}
#blockchat{ /*A parte de baixo do bloco do chat*/
    background-color: rgb(155, 14, 131);
    width: 500px;
    height: 50px;
}
#lucyClose{ /*A figura grande da Lucy no site*/
    position: fixed;
    margin-top: 5%;
    margin-left: 65%;
    width: 500px;
    height: auto;   
}
#lucyProfilePicture{ /*A imagem de perfil da Lucy*/ 
    height: 100px;
    width: 100px;
}
